.form {
  width: 40rem;
  max-width: 90%;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: rgb(210, 228, 228);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.from-p {
  font-weight: bold;
  text-decoration: underline;
}

.form-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 0.5rem;
}

.form-input {
  border-radius: 3px;
  padding: 4px;
}

.btns {
  margin-top: 2rem;
  margin-left: 23rem;
}

.btn {
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 2rem;
  border-radius: 3px;
}

.cancel {
  border: 1px solid red;
  color: red;
}

.cancel:hover {
  background-color: rgb(240, 165, 165);
  color: white;
}

.submit {
  background-color: green;
  color: white;
}

.submit:hover {
  background-color: rgb(90, 176, 90);
}
